// COLORS
:root {
   --color-opacity: 1;
   --color-primary: 140 49% 55%;
   --color-primary-light: 111 55% 64%;
   --color-primary-dark: 160 64% 43%;

   $color-secondary-light: #ffb900;
   $color-secondary-dark: #ff7730;

   $color-tertiary-light: #2998ff;
   $color-tertiary-dark: #5643fa;

   --color-grey-light-1: 0 0% 97%;
   $color-grey-light-2: #eee;

   --color-grey-dark: #777;

   $color-grey-dark-2: #999;
   $color-grey-dark-3: #333;

   --color-white: 0 0% 100%;
   --color-black: 0 0% 0%;

   // FONT
   $default-font-size: 1.6rem;

   // GRID
   $grid-width: 114rem;
   $gutter-vertical: 8rem;
   $gutter-vertical-small: 6rem;
   $gutter-horizontal: 6rem;
}
$color-black: #000;
