.u-container {
   width: 85vw;
   margin-inline: auto;
}
.u-slice {
   padding-block: rem(80px);
}

// .flex {
//    display: flex;
// }

// .items-center {
//    align-items: center;
// }

// .justify-between {
//    justify-content: space-between;
// }

// .gap-32 {
//    gap: 2rem;
// }
